@import url("https://fonts.googleapis.com/css2?family=Denk+One&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Denk One', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #5B7553;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #414A37;
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #333a2c; 
  }


.page {
    background-color: #F3EBE2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.next {
    width: 48px;
    height: 48px;
}

header {
    position: fixed; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    margin-top: 1vh;

    
    top: 0;
    z-index: 1000;
    padding: .5rem 2rem;
    margin-top: 1vh;

    width: 97vw;
    height: 7.5vh;

    background: #5B7553;
    border-radius: 20px;
    box-shadow: rgb(0,0,0)
}
  
  .logo {
    width: 75%;                
    height: 100%;
    border-radius: 10px;
}
  
header > a {
    width: 10%;
    height: 80%;
}

  nav.tabs {
    display: flex;
    gap: 2rem;              
  }
  
  nav.tabs a {
    color: #F3EBE2;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
  }
  
  nav.tabs a:hover {
    text-decoration: underline;
  }
  
.signuplogin {
    display: flex;
    gap: 1rem;
}
  
.signuplogin > div {
    padding: 0.75rem 1.5rem;       
    background-color: #414A37;
    border-radius: 15px;
    color: #F3EBE2;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

.signuplogin > div > a {
    text-decoration: none;
    color: #F3EBE2;

}

.hero {
    margin-top: -7.5vh; 
    padding: 0;
}

.heroImage {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 70vh;
    min-height: 774px;

    background: #F3EBE2;
    overflow: hidden;
    position: relative;
}

.heroImage img {
    width: 120%;
    height: auto;
    object-fit: cover;
}

.heroSlogan {
    position: absolute;
    margin-left: 3vw;
    margin-bottom: 15vh;

}

.heroSlogan>h2 {
    color: #DBC2A6;
    font-size: 48px;
}

.heroSlogan>h1 {
    color: #F3EBE2;
    font-size: 96px;
}

.bookNow {
    width: 20%;
    height: 17%;
    padding: 2.5%;
    background: #5B7553;
    color: #F3EBE2;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
}

.main {
    width: 100%;
    max-width: 100%;
    height: 100vh;
}

.homepage-text {
    width: 100vw;
    justify-items: center;
}

.homepage-main {
    width: 60vw;
    text-align: center;
}


.homepage-main > h1 {
    margin-top: 7.5vh;
    font-size: 48px;
    font-weight: 600;
    color: #1F2716;
}

.homepage-main > h2 {
    font-size: 24px;
    font-weight: 300;
    color: #1F2716;
}

.homepage-main > p {
    font-size: 16px;
    font-weight: 100;
    color: #1F2716;
}

.homepage-main > a {
    font-size: 16px;
    color: #1F2716;
    font-weight: 100;
}


.homepage-main > img {
    margin-top: 1.5vh;
}


.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5vh;
    gap: 5%;
    padding: 24px;

}  

.card {
    background: #5B7553;
    color: #F3EBE2;
    width: 480px;
    height: 640px;
    padding: 15px;
    border-radius: 8px;
}

.cardimg {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 2.5vh;
}

.card>h2 {
    font-size: 36px;
    font-weight: 600;

}

.card>p {
    font-size: 24px;
    font-weight: 480;
    
}

.next {
    margin-top: 20px;
    width: auto;
    height: auto;
    float: right;
    float: bottom;
    
}

footer {
    margin-top: 10%;
    background-image: url(../images/preset/footer/Footer.png);
    width: 100%;
    height: 60vh;

    align-content: center;
    justify-items: center;
}

.footer-container {
    display: flex;
    width: 60vw;
    height: 20vh;
    color: #F3EBE2;
    gap: 1rem;
    align-items: center;
}

.footer-container > div {
    width: 33%;
    height: 40%;
    text-align: center;

}

.footer-container > div > img {
    width: 100%;
    height: 150%;
}

.footer-container > div > h2 {
    color: #1F2716;
    font-size: 24px;
    margin-bottom: 1vh;

}

.footer-container > div > a {
    text-decoration: none;
    color: #414A37;

}

.membership-items {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    margin-top: 5vh;
    gap: 3rem;
}

.items {
    width: 20vw;
    height: 60vh;
    background-color: #5B7553;
    border-radius: 20px;
    text-align: center;
    padding: 1rem;
}

.items h1 {
    font-size: 32px;
    font-weight: 450;
    color: #FEFAF6;
    margin-bottom: 1rem;
}

.items ul {
    list-style: none; 
    padding: 0;
}

.items ul li {
    font-size: 16px;
    font-weight: 200;
    color: #FEFAF6;
    margin: 0.5rem 0;
}


.signuplogin-container {
    
}