@import url("https://fonts.googleapis.com/css2?family=Denk+One&display=swap");

* {
    page: 0;
    margin: 0;
}


.page {
    background-color: #F3EBE2;
    flex-direction: column;
    align-items: center;
    font-family: 'denk one', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #5B7553;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #414A37;
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #333a2c; 
}


/* Header */

header {
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
    gap: 1rem;

    padding: .5rem 1rem;

    width: 100%;
    height: 12.5vh;

    background: #5B7553;
}

  
.logo {
    width: 75%;                
    height: 75%;
    border-radius: 10px;

}
  
header > a {
    width: 15%;
    height: 80%;
    justify-items: center;
    align-content: center;
    object-fit: contain;
}

nav.tabs {
    display: flex;
    gap: 2rem;              
}
  
nav.tabs a {
    color: #F3EBE2;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    transition: all 1s ease;
}
  
nav.tabs a:hover {
    text-decoration: underline;
    padding: 1rem 1rem;
    background: #414A37;
    border-radius: 20px;
    transition: hoverUnderline 0.3s forwards;
}
  
.signuplogin {
    display: flex;
    gap: 0.5rem;
}
  
.signuplogin > div {
    padding: 0.75rem 1.5rem;       
    background-color: #414A37;
    border-radius: 15px;
    color: #F3EBE2;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

.signuplogin > div > a {
    text-decoration: none;
    color: #F3EBE2;
}


.signuplogin > div:hover {
    background-color: #889C82;
    color: #F3EBE2;
    transition: hoverUnderline 1s forwards;
}

/* Footer */

footer {
    margin-top: 10%;
    background-color: #DBC2A6;
    width: 100%;
    height: 40vh;

    align-content: center;
    justify-items: center;
}

.footer-container {
    display: flex;
    width: 60vw;
    height: 20vh;
    color: #F3EBE2;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.footer-container > div {
    width: 33%;
    height: 100%;
    text-align: center;
    gap: 1rem;

}

.footer-container > div > img {
    width: 100%;
    height: 66%;
}

.footer-container > div > h2 {
    color: #1F2716;
    font-size: 24px;
    margin-bottom: 1vh;

}

.footer-container > div > a {
    text-decoration: none;
    color: #414A37;

}

.footer-container > div > a:hover {
    text-decoration: underline;
    animation: hoverUnderline 0.3s forwards;
}





/* Hero Image */

.heroImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 35vh;
    min-height: 774px;

    background: #F3EBE2;
    overflow: hidden;
    position: relative;
}

.heroImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.heroSlogan {
    position: absolute;
    left: 3vw;
}

.heroSlogan>h2 {
    color: #DBC2A6;
    font-size: 48px;
}

.heroSlogan>h1 {
    color: #F3EBE2;
    font-size: 96px;
}

.bookNow {
    width: 20%;
    height: 17%;
    padding: 2.5%;
    background: #5B7553;
    color: #F3EBE2;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
}

/* main Text */

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    margin-top: 5rem;
}

.main > h1 {
    font-size: 48px;
    color: #414A37;
    margin-bottom: 2rem;
}

.main > p {
    font-size: 20px;
    color: #414A37;
    width: 60%;
    line-height: 1.5;
}